
   
 
    <div id="main">
        <nav id="navbar" >
            
        <ul >
          
          <li><a    [routerLink]="['home']" style="font-size: medium;font-family:cursive ;">Home</a></li>
            <li >
                <a  [routerLink]="['cours']" style="font-size: medium;font-family:cursive ;">  Courses  <span class="sr-only">(current)</span></a>
            </li>
            <li >
                <a  [routerLink]="['publications']" style="font-size: medium;font-family:cursive ;">Publications</a>
            </li>
            <li >
              <a  [routerLink]="['contact']" style="font-size: medium;font-family:cursive ;"> Contact   <span class="sr-only">(current)</span></a>
          </li>
          
        <li>  
          <form class="form-inline my-2 my-lg-0" >
          <button type="button" class="btn btn-primary btn-block" style="font-size: medium;font-family:cursive ;"><a [routerLink]="['compte']">Login</a></button>
        </form>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0" >
          <button type="button" class="btn btn-primary btn-block" style="font-size: medium;font-family:cursive ;"><a [routerLink]="['profile']">Profile</a></button>
        </form>
      </li>
    </ul>
       
      </nav>
    </div>
  
  

